DETAILS !!!!!
<mat-card *ngIf="assignmentTransmis">
  <mat-card-content>
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions class="actions">
    <mat-checkbox (click)="onAssignmentRendu()" *ngIf="!assignmentTransmis.rendu">Rendu</mat-checkbox>

    <a [routerLink]="['/assignments', assignmentTransmis.id, 'edit']">
      <button mat-raised-button color="warn" [disabled]="!isAdmin()">EDIT</button>
    </a>

    <button mat-raised-button color="warn" [disabled]="!isAdmin()" (click)="onDelete()">DELETE</button>
  </mat-card-actions>

</mat-card>
