<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <h2>Assignment application</h2>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <span>Binvenue sur l'application</span>
    </mat-toolbar>
  </div>
  <div>
    <p>contenue</p>
  </div>
</mat-drawer-container>
