<h1 style="margin-left: 2%">List</h1>
<mat-paginator
  [length]="length"
  [pageIndex]="page"
  [pageSize]="pageSize"
  aria-label="Select page"
  (page)="onPageChange($event)"
>
</mat-paginator>
<div>
  <div style="width: 70%; float: left; border-right: 3px solid #dbdbdb">
    <mat-grid-list cols="3" rowHeight="1:1">
      <h3 style="padding-left: 9%">Non rendu</h3>
      <ng-container *ngFor="let item of docs">
        <ng-container *ngIf="item.rendu == false">
          <mat-grid-tile>
            <div style="margin-bottom: 0%; width: 350px; height: 300px">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title (click)="detail(item.id)">{{
                    item.nom
                  }}</mat-card-title>
                  <mat-card-subtitle>{{
                    item.dateDeRendu | date : "dd/MM/yyyy hh:mm:ss"
                  }}</mat-card-subtitle>
                  <!-- <div
                style="
                  border-radius: 30px;
                  width: 55px;
                  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
                  background-size: cover;
                  margin-left: 67%;
                  margin-bottom: 1%;
                "
              ></div> -->
                </mat-card-header>
                <mat-card-footer style="margin-left: 5%">
                  <mat-card-title>{{ item.auteur }}</mat-card-title>
                </mat-card-footer>
                <mat-card-actions style="margin-bottom: 3%; display: block">
                  <button
                    mat-raised-button
                    color="primary"
                    [disabled]="!isAdmin()"
                    (click)="edit(item.id)"
                  >
                    Edit
                  </button>
                  <button
                    mat-raised-button
                    color="accent"
                    style="margin-left: 2%"
                    (click)="rendre(item.id)"
                  >
                    Rendre
                  </button>
                  <button
                    mat-raised-button
                    color="warn"
                    style="float: right"
                    [disabled]="!isAdmin()"
                    (click)="onDelete(item._id)"
                  >
                    Delete
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </mat-grid-tile>
        </ng-container></ng-container
      >
    </mat-grid-list>
  </div>
  <div style="float: right; width: 29.5%">
    <h3 style="margin-left: 2%">Rendu</h3>
    <ng-container *ngFor="let item of docs">
      <ng-container *ngIf="item.rendu == true">
        <mat-card style="border-bottom: 1px solid #dbdbdb">
          <mat-card-header>
            <mat-card-title>{{ item.nom }}</mat-card-title>
            <mat-card-subtitle>{{ item.auteur }}</mat-card-subtitle>
            <mat-card-subtitle>{{
              item.dateDeRendu | date : "dd/MM/yyyy hh:mm:ss"
            }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </ng-container></ng-container
    >
  </div>
</div>
